<nav class="menusuperior">

    <a href="/">home</a>
    <a href="/controleusuarios">Constrole de Usuários</a>
    <a href="/geraescala">Gerar Escala</a>
    <a href="/logout">Logout</a>

</nav>